<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" >Qaswa
      <h6>Real Estate</h6></a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="development">Developments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rent"  routerLinkActive="active-link">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="buy"  routerLinkActive="active-link">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog"  routerLinkActive="active-link">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="news"  routerLinkActive="active-link">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about"  routerLinkActive="active-link">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact"  routerLinkActive="active-link">Contact Us</a>
        </li>
      </ul>
      <button class="btn btn-outline-success me-2" type="button" routerLink="contactform">Get in Touch</button>
    </div>
  </div>
</nav>
