<div class="container">
<div class="col-4">
  <div class="box">
    <img src="../../../assets/divine/lounge2.jpeg" alt="" loading="lazy" class="fade-in"/>
    <h3>DIVINE</h3>
    <h5>RIVERSIDE DRIVE | BESPOKE LUXURY LIVING | APARTMENT</h5>
    <ul>
      <li>BEDS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1,2,3</li>
      <li>PRICE FROM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KSHS 240,000</li>
      <li>FLOORPLANS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">VIEW</a></li>
    </ul>
    <button class="btn btn-outline" type="button">ENQUIRE</button>
    <button  onclick="window.location.href = 'divine';" class="btn2 btn-outline" type="button" >DETAILS</button>
  </div>
</div>
</div>
