<div class="container">
<div class="col-4">
  <div class="box">
    <img src="../../../assets/divine/hall.jpeg" alt="" loading="lazy" />
  <h1 class="head">DIVINE</h1>
  <h4 class="body">RIVERSIDE ROAD</h4>
  <button  onclick="window.location.href = 'divine';" class="btn2 btn-outline" type="button" >VISIT SITE</button>
  </div>
</div>
<h5>WELCOME TO DIVINE<hr></h5>
<h1>DIVINE</h1>
<p>This exclusive property, located off Sri Aurobindo Avenue, consists of six breath-taking villas nestled amongst the lush green suburb of Lavington. Reflections is crafted as a masterpiece of contemporary architecture and benefits from stellar landscaped gardens.</p>
<div class="box">
  <img src="../../../assets/divine/hall2.jpeg" alt="" loading="lazy"/>
</div>
<h5>BESPOKE LUXURY LIVING<hr></h5>
<p>The residences are richly detailed and quietly luxurious with style that surpasses trend. Each villa is positioned discreetly over a 0.81 acre plot with a private driveway leading up to an enchanting arrival within the estate. Externally, the villas echo an alluring charm with a distinct modern touch.</p>
<div class="box">
  <img src="../../../assets/divine/hall3.jpeg" alt="" loading="lazy"/>
</div>
<h5 class="line">SURROUNDED BY NATURE<hr></h5>
<p class="word"> The sensational three-story design allows flawless extension<br>the interior spaces with the exterior gardens.The interconnected open plan <br>living space is framed by landscaped views to create the perfect backdrop.</p>
<div class="box">
  <img src="../../../assets/divine/lounge.jpeg" alt="" loading="lazy" class="img"/>
</div>
<h5 class="line2">Esculent dining<hr></h5>
<p class="word2">The adjoining dining area features floor-to-ceiling glass doors, greeting you<br>with a full view of the gardens. The expansive area caters for spacious dining that <br>is light-filled by day and kept warm and cosy by night with a fetching fireplace.<br>The room transitions into a covered veranda, making it the perfect space for<br>entertaining.</p>
<div class="box">
  <img src="../../../assets/divine/dining.jpeg" alt="" loading="lazy" class="img2"/>
</div>
<div class="box">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8340697714057!2d36.7909698!3d-1.2726905999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17185f7b32fd%3A0x218b13addb9a2c80!2sDivine%20Residences!5e0!3m2!1sen!2ske!4v1678210623454!5m2!1sen!2ske" class="map" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
