<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active"  data-bs-interval="10000">
      <img src="../../../assets/divine/hall2.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption" >
     <a routerLink="divine" class="header">DIVINE RESIDENCE</a>
      <h5 class="text">RIVERSIDE DRIVE | BESPOKE LUXURY LIVING | APARTMENT</h5>
      <p class="number">01/09</p>
    </div>
    </div>
    <div class="carousel-item"  data-bs-interval="10000">
      <img src="../../../assets/img/apartment2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption" >
        <a routerLink="divine" class="header">REFLECTIONS</a>
         <h5 class="text">LAVINGTON | BESPOKE LUXURY LIVING | VILLAS</h5>
         <p class="number">02/09</p>
       </div>
    </div>
    <div class="carousel-item"  data-bs-interval="10000">
      <img src="../../../assets/img/villa.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption" >
        <a routerLink="divine" class="header">1230 WEST</a>
         <h5 class="text">WESTLANDS | CROWN JEWEL | FROM 9M</h5>
         <p class="number">03/09</p>
       </div>
    </div>
    <div class="carousel-item"  data-bs-interval="10000">
      <img src="../../../assets/img/villa2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption" >
        <a routerLink="divine" class="header">ALTURA</a>
         <h5 class="text">UPPERHILL | TROPHY INVESTMENT | FROM 5.5M</h5>
         <p class="number">04/09</p>
       </div>
    </div>
    <div class="carousel-item"  data-bs-interval="10000">
      <img src="../../../assets/img/forestvilla.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption" >
        <a routerLink="divine" class="header">ENAKI</a>
         <h5 class="text">ROSSLYN | RESIDENTIAL RESORT TOWN | FROM 12.3 M</h5>
         <p class="number">05/09</p>
       </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-4 mb-4">
  <h4>New Features <hr></h4>
  <div class="row">
    <div class="col-4">
      <div class="box">
        <img src="../../../assets/img/apartment.jpg" alt="" loading="lazy" class="fade-in"/>
        <h1>DISCOVER OUR<br>VIRTUAL TOURS</h1>
        <p>Tour our developments with 3D intercative<br>walkthroughs</p>
        <button  onclick="" class="btn2 btn-outline" type="button" >TAKE THE TOUR</button>
      </div>
    </div>
    <div class="col-4">
      <div class="box">
        <img src="../../../assets/img/apartment2.jpg" alt="" loading="lazy" class="fade-in"/>
        <h1>BREATHTAKING<br>DEVELOPMENTS</h1>
        <p>Explore our portfolio of developments<br>inspired by innovation and design</p>
        <button onclick="window.location.href = 'development';"  class="btn2 btn-outline" type="TAKE THE TOUR" >EXPLORE</button>
      </div>
    </div>
    <div class="col-4">
      <div class="box">
        <img src="../../../assets/img/insidevilla.jpg" alt="" loading="lazy" class="fade-in"/>
        <h1>EXPERIENCE OUR<br>INSIGHTS</h1>
        <p>Peruse a carefully curated blog for lifestyle,<br>buying and property tips</p>
        <button  onclick="" class="btn2 btn-outline" type="button" >START READING</button>
      </div>
    </div>
    <h6>DEVELOPMENTS <hr></h6>
    <h2>LATEST LAUNCHES</h2>
    <p class="text2">Qaswa offers investment-grade developments <br>all over the
       City. The developments we offer have been<br>
       conceptualized by our development team to be high quality<br>assets using a data-driven approach in planning and design,<br> that gears property for high rental returns and<br>an escalated rate of capital growth.</p>
        <div class="img1">
          <img src="../../../assets/divine/hall.jpeg" alt="" loading="lazy"/>
          <h5>RIVERSIDE DRIVE | BESPOKE LUXURY LIVING | APARTMENT</h5>
        </div>
        <div class="img2">
          <img src="../../../assets/img/villa.jpg" alt="" loading="lazy" />
          <h5>REFLECTIONS | LAVINGTON | BESPOKE LUXURY LIVING</h5>
        </div>
        <div class="img3">
          <img src="../../../assets/img/villa2.jpg" alt="" loading="lazy"/>
          <h5>REFLECTIONS | LAVINGTON | BESPOKE LUXURY LIVING</h5>
        </div>
        <button  onclick="window.location.href = 'development'" class="btn3 btn-outline" type="button" >VIEW ALL DEVELOPMENTS</button>
      </div>
      </div>

